// Cards
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: card;
    grid-column: span 1;
    @include cell ();

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading-title {
        @include text ($TITLE_SIZE, $TITLE_WEIGHT);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info-variation {
        display: flex;
        align-items: center;
    }

    &__info-percent {
        padding-right: 9px;
        font-size: 20px;
        color: #979797;
    }
}


.ad {
    display: none;
    @include cell ($PRIMARY_PADDING, $BACKGROUND_CELL, $PRIMARY_RADIUS);
    text-align: center;
    text-transform: uppercase;
}