// Geo
.geo {
    grid-area: geo;
    @include cell ();

    &__heading {
        display: flex;
        justify-content: space-between;
    }

    &__heading-title {
        margin-bottom: 24px;
        @include text ($TITLE_SIZE, $TITLE_WEIGHT);
    }

    &__choiсe {
        display: flex;
    }

    &__choiсe-text {
        padding-left: 10px;
        @include text ($TEXT_SIZE, $TEXT_WEIGHT);
        color: #979797;
        box-sizing: border-box;
        cursor: pointer;
    }

    &__choiсe-text:hover {
        font-weight: 600;
        color: #4F4F4F;
    }

    &__img {
        width: 240px;
        height: 120px;
    }
}