// Gistogramm
.gistogramm {
    grid-area: gistogramm;
    @include cell ();
    overflow-x: scroll;
    
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__heading-title {
        @include text ($TITLE_SIZE, $TITLE_WEIGHT);
    }

    &__gender {
        display: flex;
    }

    &__gender-text {
        position: relative;
        padding-right: 10px;
        padding-left: 25px;
        @include text ($TEXT_SIZE, $TEXT_WEIGHT);
    }

    &__gender-text--pink-square::before {
        content: '';
        @include squre ($PINK-SQUARE);
    }

    &__gender-text--purple-square::before {
        content: '';
        @include squre ($PURPLE_SQURE);
    }

    &__img {
        width: 657px;
        height: 135px;
    }
}