// Header
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 34px 50px 0px;

    &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__info-title {
        padding-right: 45px;
        @include text ();
    }

    &__form {
        position: relative;
    }

    &__form::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 18px;
        width: 11px;
        height: 11px;
        background: url(../../img/icons/search.svg) no-repeat;
        cursor: pointer;
    }

    &__form-search {
        width: 163px;
        height: 32px;
        padding-left: 38px;
        font-size: 12px;
        color: #979797;
        border: 1px solid #EBEBEB;
        border-radius: 8px;
        outline: none;
    }

    &__info-icon {
        padding-left: 14px;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__user-name {
        position: relative;
        z-index: 4;
        padding-right: 11px;
        @include text ($TITLE_SIZE, $TITLE_WEIGHT);
    }

    &__user-avatar {
        width: 50px;
        height: 50px;
        margin-right: 35px;
    }

    &__user-name::after {
        @include switch (13px, 125px)
    }
}