// Base
.app {
    display: flex;
    max-width: 1280px;
    margin: 5% auto;  
    font-family: 'Roboto', sans-serif;
    background: #EFF3F9;
    border-radius: $PRIMARY_RADIUS;
}

.app__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: 148px repeat(2, 242px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    grid-template-areas: 
    "card card card"
    "graphic graphic diagramm"
    "gistogramm gistogramm geo";
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}