@media (max-width: 1280px) {
    .app {
        margin: 0;
    }

    .app::after {
        content: '';
        position: absolute;
        left: 1127px;
        top: 760px;
        z-index: 3;
        width: 136px;
        height: 120px;
        background: linear-gradient(180deg, #7F7FD5 0%, #E786D7 100%);
        box-shadow: 0px 48px 32px rgba(135, 128, 213, 0.14), 0px 32px 24px rgba(135, 128, 213, 0.1), 0px 4px 6px rgba(135, 128, 213, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 0;
        border-top-left-radius: 100%;
    }
}

@media (max-width: 1024px) {
    .app {
        flex-direction: column;
        border: none;
    }

    .app::after {
        display: none;
    }

    .nav {
        display: block;
        padding: 0;

        &__link {
            display: none;
        }

        &__logo-link {
            display: none;
        }

        &__label {
            display: none;
        }

        &__menu-btn {
            display: block;
        }
    }

    .main {
        width: 100%;
        grid-template-rows: repeat(2, 148px) repeat(3, 242px);
        grid-template-columns: repeat(2, 341px);
        grid-template-areas:
        "card card"
        "card card"
        "graphic graphic"
        "diagramm geo"
        "gistogramm gistogramm";
        justify-content: center;
    }

    .card {
        grid-row: span 1;
    }

    .ad {
        display: block;
    }
}



@media (max-width: 768px) {
}    

@media (max-width: 568px) {
    .main {
        padding: 15px 0px 15px 0px;
        grid-template-rows: repeat(3, 148px) repeat(4, 242px);
        grid-template-columns: 1fr;
        grid-template-areas:
        "card"
        "card"
        "card"
        "graphic"
        "diagramm"
        "gistogramm"
        "geo";
    }

    .ad {
        display: none;
    }

    .header {
        justify-content: center;
        padding: 34px 20px 0px;

        &__info {
            justify-content: center;
            padding-right: 10px;
        }

        &__info-title {
            margin-bottom: 15px;
            padding-right: 20px;
        }

        &__info-search {
            margin-bottom: 15px;
        }
    }

    .graphic__heading {
        width: 600px;
    
    }

    .graphic__heading-title {
        padding-right: 109px;
    }
}
